<!doctype html>
<html class="no-js no-touch supports-no-cookies" lang="{{ request.locale.iso_code }}">

<head>
	{% render 'pandectes-rules' %}
  {%- render 'head' -%}

  {{ content_for_header }}

  <!-- Hotjar Tracking Code for https://zohrehv.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:5166108,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} grid-{{ settings.grid_style }}{% if customer %} customer-logged-in{% endif %}{% if settings.animations_enable %} aos-initialized{% endif %}{% if settings.product_grid_outline %} has-line-design{% endif %}" data-animations="{{ settings.animations_enable }}">
  {%- render 'loading' -%}

  <a class="in-page-link visually-hidden skip-link" data-skip-content href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div class="container" data-site-container>
    <div class="header-sections">
      {% sections 'group-header' %}
    </div>

    {% sections 'group-overlay' %}

    <!-- CONTENT -->
    <main role="main" id="MainContent" class="main-content">

      {{ content_for_layout }}

    </main>
  </div>

  {% sections 'group-pre-footer' %}

  <footer class="footer-sections">
    {% sections 'group-footer' %}
  </footer>

  {% render 'template-swatch' %}

  {% render 'zoom-pswp' %}


  {%- if template.name != 'product' and settings.show_scroll_top_button -%}
    <button type="button" class="btn btn--scroll-top btn--black btn--solid" aria-label="{{ 'general.accessibility.scroll_to_top' | t }}" data-scroll-top-button>
      {%- render 'icon-arrow-up' -%}
    </button>
  {%- endif -%}

  {%- comment -%}
    In order to use your custom javascript file at assets/custom.js
    just cut this next line and paste it outside this comment:
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  {%- endcomment -%}
  <!-- Paste marketing code or third party scripts below this comment line ============== -->


<script>
  window.addEventListener("pageshow", function(event) {
    if (event.persisted) {
      location.reload();
    }
  });

  function updateCart() {
  fetch('/cart.js')
    .then(response => response.json())
    .then(data => {
      if (data.item_count > 0) {
        document.querySelector('.cart-count').textContent = data.item_count;
      }
    });
}

window.addEventListener('pageshow', updateCart);

</script>
  <!-- And above this comment line ================================================== -->


  <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "PUBLIC_API_KEY",
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "button",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#439fdb",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>
</body>
</html>
